<div class="row question-vote-cabin">
  <div class="columns mediumlarge-4 mediumlarge-push-4">
    <% if question.consultation.upcoming? %>
      <%= action_authorized_button_to :endorse,
                                    decidim_consultations.question_question_votes_path(question),
                                    remote: true,
                                    data: { disable: true },
                                    class: "card__button button expanded disabled",
                                    id: "vote_button" do %>
        <div class="vote-button-caption"><%= t("questions.vote_button.vote", scope: "decidim") %></div>
        <div>
          <%=t "questions.vote_button.starting_from",
               scope: "decidim",
               date: l(question.start_voting_date) %>
        </div>
      <% end %>
    <% end %>

    <% if question.consultation.finished? && signed_in? && question.voted_by?(current_user) %>
      <%= action_authorized_button_to :unendorse,
                                      decidim_consultations.question_question_votes_path(question),
                                      method: :delete,
                                      remote: true,
                                      data: { disable: true },
                                      class: "card__button button expanded success disabled",
                                      id: "unvote_button" do %>
        <div class="vote-button-caption"><%= t("questions.vote_button.already_voted", scope: "decidim") %></div>
      <% end %>
    <% end %>

    <% if signed_in? && question.consultation.active? %>
      <% if can? :unendorse, question %>
        <%= action_authorized_button_to :endorse,
                                        decidim_consultations.question_question_votes_path(question),
                                        method: :delete,
                                        remote: true,
                                        data: {
                                          disable: true
                                        },
                                        class: "card__button button expanded success",
                                        id: "unvote_button" do %>
          <div class="vote-button-caption"
               data-original="<%= t('questions.vote_button.already_voted', scope: 'decidim') %>"
               data-replace="<%= t('questions.vote_button.already_voted_hover', scope: 'decidim') %>">
            <%= t("questions.vote_button.already_voted", scope: "decidim") %>
          </div>
        <% end %>
      <% end %>

      <% if can? :endorse, question %>
        <%= action_authorized_button_to :endorse,
                                        decidim_consultations.question_question_votes_path(question),
                                        remote: true,
                                        data: { disable: true },
                                        class: "card__button button expanded",
                                        id: "vote_button" do %>
          <div class="vote-button-caption"><%= t("questions.vote_button.vote", scope: "decidim") %></div>
        <% end %>
      <% end %>
    <% else %>
      <%= action_authorized_button_to :endorse,
                                      decidim_consultations.question_question_votes_path(question),
                                      class: "card__button button expanded",
                                      data: { disable: true },
                                      id: "vote_button" if question.consultation.active? do %>
          <div class="vote-button-caption"><%= t("questions.vote_button.vote", scope: "decidim") %></div>
        <% end %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "decidim/consultations/utils" %>
