<%= render partial: "right_column", locals: { question: current_question } %>
<div class="columns mediumlarge-8 mediumlarge-pull-4">
  <div class="section">
    <div class="row column">
      <%= decidim_sanitize translated_attribute current_question.question_context %>
    </div>
  </div>

  <%= attachments_for current_question %>
</div>

<%= comments_for current_question if current_question.published? %>

<%= content_for :question_header_details do %>
  <div id="question-header-details" class="row consultations-home-intro">
    <div class="columns medium-5">
      <img src="<%= current_question.hero_image&.url %>">
    </div>

    <div class="columns medium-5">
      <% unless translated_attribute(current_question.origin_scope).blank? %>
        <h4 class="heading6"><%=t "question.origin_scope", scope: "activemodel.attributes" %></h4>
        <p><%= translated_attribute current_question.origin_scope %></p>
      <% end %>

      <h4 class="heading6"><%=t "question.promoter_group", scope: "activemodel.attributes" %></h4>
      <p><%= translated_attribute current_question.promoter_group %></p>

      <h4 class="heading6"><%=t "question.scope", scope: "activemodel.attributes" %></h4>
      <p><%= translated_attribute current_question.scope.name %></p>

      <h4 class="heading6"><%=t "question.participatory_scope", scope: "activemodel.attributes" %></h4>
      <p><%= translated_attribute current_question.participatory_scope %></p>
    </div>
  </div>
<% end %>
