<%= render partial: "right_column", locals: { question: current_question } %>
<div class="columns mediumlarge-8 mediumlarge-pull-4">
  <div class="section">
    <div class="row column">
      <%= decidim_sanitize translated_attribute current_question.question_context %>
    </div>
  </div>

  <%= attachments_for current_question %>
</div>

<%= comments_for current_question if current_question.published? %>

<%= content_for :question_header_details do %>
  <section  id="question-header-details" class="row section">
    <article class="card card--full card--process">
      <div class="row collapse card--process__row">
        <div class="columns mediumlarge-8 large-6 card--process__column">
          <div class="video-wrapper">
            <iframe src="<%= current_question.introductory_video_url %>" frameborder=0>
            </iframe>
          </div>
        </div>

        <div class="columns mediumlarge-8 large-6 card--process__column">
          <div class="card__content question-header-data">
            <% unless translated_attribute(current_question.origin_scope).blank? %>
              <div class="question-header-data-group">
                <div class=question-eader-data-group-title>
                  <%=t "question.origin_scope", scope: "activemodel.attributes" %>
                </div>
                <div><%= translated_attribute current_question.origin_scope %></div>
              </div>
            <% end %>

            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%=t "question.promoter_group", scope: "activemodel.attributes" %>
              </div>
              <div><%= translated_attribute current_question.promoter_group %></div>
            </div>

            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%=t "question.scope", scope: "activemodel.attributes" %>
              </div>
              <div><%= translated_attribute current_question.scope.name %></div>
            </div>

            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%=t "question.participatory_scope", scope: "activemodel.attributes" %>
              </div>
              <div><%= translated_attribute current_question.participatory_scope %></div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
<% end %>
