<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if can? :update, current_consultation %>
        <li <% if is_active_link?(decidim_admin_consultations.edit_consultation_path(current_consultation)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("consultation", scope: "decidim.admin.menu.questions_submenu"),
                                    decidim_admin_consultations.edit_consultation_path(current_consultation) %>
        </li>
      <% end %>

      <% if can?(:update, current_question) %>
        <li <% if is_active_link?(decidim_admin_consultations.edit_question_path(current_question)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.questions_submenu"),
                                    decidim_admin_consultations.edit_question_path(current_question) %>
        </li>
      <% end %>

      <% if can? :read, Decidim::Feature %>
        <li <% if is_active_link?(decidim_admin_consultations.features_path(current_question)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("features", scope: "decidim.admin.menu.questions_submenu"),
                                    decidim_admin_consultations.features_path(current_question) %>
          <ul>
            <% current_question.features.each do |feature| %>
              <% if feature.manifest.admin_engine %>
                <li <% if is_active_link?(manage_feature_path(feature)) || is_active_link?(decidim_admin_consultations.edit_feature_path(current_question, feature)) || is_active_link?(decidim_admin_consultations.edit_feature_permissions_path(current_question, feature)) %> class="is-active" <% end %>>
                  <%= link_to manage_feature_path(feature) do %>
                    <%= translated_attribute feature.name %>
                    <% if feature.primary_stat.present? %>
                      <span class="component-counter <%= "component-counter--off" if feature.primary_stat.zero? %>"><%= feature.primary_stat %></span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= translated_attribute(current_consultation.title) %>
    </div>
  </div>
  <%= yield %>
<% end %>
