<article class="card card--full card--process">
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-8 card--process__column">
      <div class="card__content">
        <%= link_to decidim_consultations.question_path(question) do %>
          <h2 class="card__title"><%= translated_attribute question.title %></h2>
        <% end %>
        <p><%= translated_attribute question.subtitle %></p>
      </div>
    </div>

    <div class="columns mediumlarge-4 large-4 card--process__column">
      <div class="card--full__image" style="background-image: url(<%= question.banner_image_url %>)">
        <div class="card__content row collapse">
          <div class="large-12 columns">
            <% if question.results_published? %>
              <%= link_to decidim_consultations.question_path(question),
                          class: "button expanded button--sc" do %>
                <%=t "consultations.question.view_results", scope: "decidim" %>
                <span class="button__info"><%= translated_attribute question.most_voted_response.title %></span>
                <span class="button__info">
                  <%= question.most_voted_response.votes_count %>
                  <%=t "consultations.question.votes_out_of", scope: "decidim", count: question.most_voted_response.votes_count %>
                  <%= question.total_votes %>
                </span>
              <% end %>
            <% else %>
              <%= link_to t("consultations.question.take_part", scope: "decidim"),
                          decidim_consultations.question_path(question),
                          class: "button expanded button--sc" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
