<div class="process-header process-header__borderless row column">
  <div class="row column process-header__main"
       style="background-image:url(<%= question.banner_image_url %>);">
    <div class="process-header__container row">
      <div class="columns mediumlarge-9 process-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= translated_attribute(question.consultation.title) %>
          </h1>
        </div>
        <div>
          <%= link_to decidim_consultations.consultation_path(question.consultation) do %>
          <h2 class="text-highlight heading-small">
            <%=t ".back_to_consultation" %>
            <%= icon "media-play" %>
          <% end %>
        </div>
      </div>
      <%= render partial: "layouts/decidim/consultation_voting_data", locals: { consultation: question.consultation } %>
    </div>
  </div>

  <div class="question-header row column">
    <h2 class="heading1"><%= translated_attribute question.title %></h2>
    <% unless question.hashtag.blank? %>
    <p class="question-hashtag">
      <%= link_to "##{question.hashtag}", "https://twitter.com/hashtag/#{question.hashtag}" %>
    </p>
    <% end %>
  </div>

  <%= yield :question_header_details if content_for? :question_header_details %>
  <% if question.external_voting %>
    <iframe src="<%= question.i_frame_url %>"></iframe>
  <% else %>
    <div id="question-<%= question.id %>-vote-button">
      <%= render partial: "decidim/consultations/questions/vote_button", locals: { question: question } %>
    </div>
  <% end %>
  <%= render partial: "layouts/decidim/question_features", locals: { question: question} %>
</div>
