<div class="row column">
  <div class="process-nav consultations-nav">
    <button class="process-nav__trigger hide-for-medium"  data-toggle="process-nav-content">
      <%= icon "caret-bottom", class: "icon--small process-nav__trigger__icon", aria_label: t(".unfold"), role: "img" %>
      <div class="process-nav__link">
        <%  if self.try(:current_feature) %>
          <%= feature_icon(current_feature) %>
          <%= translated_attribute(current_feature.name) %>
        <% else %>
          <%= external_icon "decidim/pages/icon.svg" %>
          <%= t ".question_menu_item" %>
        <% end %>
      </div>
    </button>
    <div class="row column process-nav__content is-active" id="process-nav-content" data-toggler=".is-active">
      <ul>
        <li class="<%= 'is-active' if is_active_link?(decidim_consultations.question_path(question), :exclusive) %>">
          <%= active_link_to decidim_consultations.question_path(question),
                             active: :exclusive,
                             class: "process-nav__link",
                             class_active: "is-active" do %>
            <%= external_icon "decidim/pages/icon.svg" %>
            <%= t ".question_menu_item" %>
          <% end %>
        </li>
        <li class="<%= 'is-active' if is_active_link?(decidim_consultations.technical_info_question_path(question), :exclusive) %>">
          <%= active_link_to decidim_consultations.technical_info_question_path(question),
                             active: :exclusive,
                             class: "process-nav__link",
                             class_active: "is-active" do %>
            <%= external_icon "decidim/pages/icon.svg" %>
            <%= t ".technical_info_menu_item" %>
          <% end %>
        </li>

        <% question.features.each do |feature| %>
          <% if feature.published? || feature == self.try(:current_feature) %>
            <li class="<%= "is-active" if is_active_link?(main_feature_path(feature), :inclusive) %>">
              <%= active_link_to main_feature_path(feature), class: 'process-nav__link', active: :inclusive, class_active: 'is-active' do %>
                <%= feature_icon(feature) %>
                <%= translated_attribute(feature.name) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
