<%- model = Decidim::Consultations::Question %>

<div class="process-header process-header__borderless row column">
  <div class="row column process-header__main"
       style="background-image:url(<%= question.banner_image_url %>);">
    <div class="process-header__container row">
      <div class="columns mediumlarge-9 process-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= translated_attribute(question.consultation.title) %>
          </h1>
        </div>
        <div>
          <%= link_to decidim_consultations.consultation_path(current_question.consultation) do %>
          <h2 class="text-highlight heading-small">
            <%=t ".back_to_consultation" %>
            <%= icon "media-play" %>
          <% end %>
        </div>
      </div>
      <%= render partial: "layouts/decidim/consultation_voting_data", locals: { consultation: current_question.consultation } %>
    </div>
  </div>

  <div class="question-header row column">
    <h2 class="heading1"><%= translated_attribute current_question.title %></h2>
    <% unless current_question.hashtag.blank? %>
      <p class="question-hashtag">#<%= current_question.hashtag %></p>
    <% end %>
  </div>

  <section  id="question-header-details" class="row section">
    <article class="card card--full card--process">
      <div class="row collapse card--process__row">
        <div class="columns mediumlarge-8 large-6 card--process__column">
          <div class="video-wrapper">
            <iframe src="<%= current_question.introductory_video_url %>" frameborder=0>
            </iframe>
          </div>
        </div>

        <div class="columns mediumlarge-8 large-6 card--process__column">
          <div class="card__content question-header-data">
            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%= model.human_attribute_name :promoter_group %>
              </div>
              <div><%= translated_attribute current_question.promoter_group %></div>
            </div>

            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%= model.human_attribute_name :scope %>
              </div>
              <div><%= translated_attribute current_question.scope.name %></div>
            </div>

            <div class="question-header-data-group">
              <div class=question-eader-data-group-title>
                <%= model.human_attribute_name :participatory_scope %>
              </div>
              <div><%= translated_attribute current_question.participatory_scope %></div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <%= render partial: "layouts/decidim/question_features", locals: { question: current_question} %>
</div>
