<section class="extended highligted-content-banner"
         style="background-image:url(<%= consultation.banner_image.url %>);">
  <div class="highligted-content-banner__container">
    <div class="row">
      <div class="columns large-10">
        <h1 class="text-highlight heading1 highligted-content-banner-heading">
          <%= translated_attribute consultation.title %>
        </h1>
        <span class="text-highlight">
          <%= sanitize translated_attribute consultation.subtitle %>
        </span>
      </div>
      <div class="columns large-2">
        <%= link_to decidim_consultations.consultation_path(consultation),
                    class: "button expanded button--sc" do %>
          <%=t "consultations.pages.home.active_consultation.take_part", scope: "decidim" %>
          <span class="button__info">
            <%=t "consultations.pages.home.active_consultation.button_info",
                 scope: "decidim",
                 date: l(consultation.start_voting_date) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= stylesheet_link_tag "decidim/consultations/highlighted-content-banner" %>
